{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати студента{% endblock meta_title %}

{% block title %}Додати студента{% endblock title %}

<!--
{% block subheader %}
         Start subheader 
        <div class="row" id="sub-header"> 
          <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href={% url "home" %}>Студенти</a></li>
              <li role="presentation"><a href="/journal">Відвідування</a></li>
              <li role="presentation"><a href={% url "groups" %}>Групи</a></li>
            </ul>
          </div>
        </div>
{% endblock subheader %}
-->

 
 {% block status_message %}
{% if errors %}
<div class="alert alert-danger" role="alert">
 Будь-ласка, виправте наступні помилки
 </div>
  {% endif %}
{% endblock status_message %}
{% block content %}
<!--<style type="text/css">.col-xs-12, .col-xs-4, .col-xs-6 {border: 1px solid red;}</style>-->
<!-- Add Student Button -->
<!-- <h2>Вітаю вас на нашій сторінці!</h2> -->
<form class="col-xs-10" action="{% url "students_add" %}" method="post"
      enctype="multipart/form-data">
      {% csrf_token %}

 <div>
 <label for="first_name">Ім'я*</label>
   <input type="text" value="{{ request.POST.first_name }}"
           name="first_name" id="first_name"
           placeholder="Введіть ваше Ім'я" />
  <span class="help-block">{{ errors.first_name }}</span>
  </div>
  <div>
     <label for="last_name">Прізвище*</label>
     <input type="text" value="{{ request.POST.last_name }}"
            name="last_name" id="last_name"
placeholder="Введіть ваше прізвище" />
  <span class="help-block">{{ errors.last_name }}</span>
   </div>
   <div>
    <label for="middle_name">По-батькові</label>
    <input type="text" value="{{ request.POST.middle_name }}"
           name="middle_name" id="middle_name"
           placeholder="Введіть ваше По-батькові" />
<!--    <span class="help-block">{{ errors.middle_name }}</span>-->
  </div>
  <div>
       <label for="birthday">Дата Народження*</label>
   <input type="text" value="{{ request.POST.birthday }}"
           name="birthday" id="birthday"
          placeholder="Наприклад 1984-12-30" />
    <span class="help-block">{{ errors.birthday }}</span>
  </div>
  <div>
    <label for="photo">Фото</label>
    <input type="file" value="" name="photo" id="photo" />
  </div>
   <div>
     <label for="ticket">Білет*</label>
    <input type="text" value="{{ request.POST.ticket }}"
           name="ticket" id="ticket"
           placeholder="Наприклад 3456" />
    <span class="help-block">{{ errors.ticket }}</span>
   </div>
   <div>
<div>
    <label for="student_group">Група*</label>
    <select name="student_group" id="student_group">
      <option value="">Виберіть групу</option>
      {% for group in groups %}
      <option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>{{group.title}}</option>
<!--      <option value="2">МтМ-2</option>-->
      {% endfor %}
     </select>
     <span class="help-block">{{ errors.student_group }}</span>
  </div>
 <div>
    <label for="notes">Додаткові Нотатки</label>
     <textarea name="notes" id="notes" class="form-control"
     placeholder="Введіть нотатку"></textarea>

   </div>
  <div>    
  <input type="submit" value="Додати" name="add_button" />
   <button type="submit" name="cancel_button">Скасувати</button>

  </div>
 </form>

{% endblock content %}


<!-- End Main Page Content -->

