{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}
{% url 'exams_add' as url1 %}
{% if request.path == url1 %} {% trans "Add Exam" %}
{% else %}                    {% trans "Edit Exam" %}
{% endif %}
{% endblock meta_title %}

{% block title %}
{% url 'exams_add' as url1 %}
{% if request.path == url1 %} {% trans "Add Exam" %}
{% else %} {% trans "Edit Exam" %}
{% endif %}
{% endblock title %}


 {% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
 {% trans "Please, fix the following errors: " %}
 </div>
  {% endif %}

{% endblock  %}


{% block content %}

{% crispy form %}

{% endblock content %}

