{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block status_message %}
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning">
             {{ message }}
          </div>
          {% endfor %}
     {% endif %}
 {% endblock status_message %}

{% block content %}
              <!-- Add Student Button -->
<div class="col-xs-7" style="margin: 2% 0 2% 0">
              <a class="btn btn-primary" href={% url "groups_add" %}>Додати Групу</a>
</div>

<!-- Start Students Listing -->
          <table class="table table-hover table-striped">
        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <thead>
              <tr>
                <th><a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">№
                  {% if order_by == 'id' and reverse != '1' %}&uarr;
                  {%elif order_by == 'id' and reverse == '1' %}&darr;
                  {% endif %}
                </a></th>
<!--                <th>Ф􏰀􏰂􏰀ото</th>-->
                <th><a href="{% url "groups" %}?order_by=title{% if reverse != '1'%}&amp;reverse=1{% endif %}">Назва 
                  {% if order_by == ''  %}&uarr;
                  {% elif order_by == 'title' and reverse != '1' %}&uarr;
                  {% elif order_by == 'title' and reverse == '1' %}&darr;
                  {% endif %}
                </a></th>
                <th><a href="{% url "groups" %}?order_by=starosta{% if reverse != '1'%}&amp;reverse=1{% endif %}">Староста
                  {% if order_by == 'starosta' and reverse != '1' %}&uarr;
                  {%elif order_by == 'starosta' and reverse == '1' %}&darr;
                  {% endif %}
                </a></th>
<!--                <th><a href="">№ билета</a></th>-->
                <th>Діі</th>
              </tr>
            </thead>
            {% endwith %}
            <tbody>
             
             {% for group in groups %}
              <tr>
                <td>{{ groups.start_index|add:forloop.counter0 }}</td> 

                  <td><a title="Редагувати" href={% url 'groups_edit' group.id %}>{{ group.title }}</a></td>
                  <!--TODO:fix student_edit id-->
                  <td><a title="Редагувати" href=
                          {% if group.starosta.id  %}
                          {% url 'students_edit' group.starosta.id %}
                      {% else %}
                      {% url 'groups_edit' group.id  %}
                      {% endif %}
                      >{{ group.starosta }}</a></td>





                <td>
                
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" 
                          type="button" data-toggle="dropdown">
                          Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" 
                            href="/journal/{{ student.id }}">Відвідування</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" 
                            href={% url 'groups_edit' group.id %}>Редагувати</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" 
                            href={% url 'groups_delete' group.id %}>Видалити</a>
                        </li>
                  </ul>
                </div>

                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
<!-- End Students Listing -->
<!--Navigation by page start-->
         {% include 'students/pagination_groups.html' %}
<!--
          <nav>
            <ul class="pagination">

              <li class="active"><a href="#">1</a></li> 
              <li><a href="#">2</a></li>
              <li><a href="#">Далі</a></li>
            </ul> 
          </nav>
-->
<!--Navigation by page end-->
         {% endblock content %}