{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}
{% url 'groups_add' as url1 %}
{% if request.path == url1 %} Додати групу
{% else %}                    Редагувати групу
{% endif %}
{% endblock meta_title %}

{% block title %}
{% url 'groups_add' as url1 %}
{% if request.path == url1 %} Додати групу
{% else %} Редагувати групу
{% endif %}
{% endblock title %}


 {% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
 Будь-ласка, виправте наступні помилки
 </div>
  {% endif %}

{% endblock  %}


{% block content %}
<!--<div id='loader'><img src={% static "img/me.jpeg" %}/></div>-->
<!--<div id='loader'><img src="http://preloaders.net/images/ajax-loader.gif"/></div>-->

{% crispy form %}

{% endblock content %}

