{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Monthly Journal" %}{% endblock meta_title %}

{% block title %}{% trans "Monthly Journal" %}{% endblock title %}

{% block content %}
{# Скоро тут будет Облiк вiдвiдування #}
{% if not students %}

<div class="alert alert-warning col-xs-12">
{% url "students_add" as students_add %}
{% blocktrans %}
There are no students in the database yet.
Please, <a href="{{ students_add }}"><b>add</b></a> first student.
{% endblocktrans %}  
</div>

{% else %}

<div class="alert alert-info col-xs-12">
{% trans "Changes to the log are automatically saved every time you click in the cell table." %}
    <span id="ajax-progress-indicator"><b>{% trans "Saving..." %}</b></span>
</div>

<div class="alert alert-danger col-xs-12 glyphicon glyphicon-exclamation-sign" aria-hidden="true" id="ajax-progress-warmes" >
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <b>{% trans "An error occurred..." %}</b>
</div>

<p id="journal-nav" class="text-center col-xs-12">
  <a href="?month={{ prev_month }}"
     title="{% trans "Previous Month" %}">&larr;</a>

  <strong>{{ month_verbose }} {{ year }}</strong>
  <a href="?month={{ next_month }}"
     title="{% trans "Next Month" %}">&rarr;</a>
     {# title="Наступний Місяць">&rarr;</a> #}
</p>

<table class="table table-hover table-striped table-bordered"
       id="students-journal">

  <thead>
    <tr>
      <th class="day-header">#</th>
      <th class="day-header">{% trans "Student" %}</th>
      {% for day in month_header %}
      <th class="day-header">
        {% trans day.verbose %}
        <br />
        {{ day.day }}
      </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>

    {% csrf_token %}

    {% for student in students %}
    <tr>

      <td class="day-header">
        {% if is_paginated %}
          {{ page_obj.start_index|add:forloop.counter0 }}
<!--          {# {{ page_obj.start_index|add:forloop.counter|add:"-1" }} #}-->
<!--          {# {{ page_obj.start_index|add:forloop.counter0 }} #}-->
        {% else %}
          {{ forloop.counter }}
        {% endif %}
      </td>

      <td>
        <a title="{% trans "Edit" %}" target="_blank"
           href="{% url "students_edit" student.id %}">
          {{ student.fullname }}
        </a>
      </td>

      {% for day in student.days %}
	      <td class="day-box">
	        <input type="checkbox" data-student-id="{{ student.id }}"
	               data-date="{{ day.date }}" data-url="{{ student.update_url }}"
	               value="1"{% if day.present %} checked="checked" {% endif %} />
	      </td>
      {% endfor %}

    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}

{% with object_list=students %}
  {% include "students/pagination.html" %}
{% endwith %}


{% endblock content %}

















