{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облык видвидування{% endblock title %}

{% block content %}
<!--Календарь-->
<div class="col-xs-12" align=center>
Серпень 2015
</div>
<!-- Start Students Listing -->
          <table class="table table-hover  table-bordered">
            <thead>
              <tr>
                <th><a href="">№</a></th>
<!--                <th>Ф􏰀􏰂􏰀ото</th>-->
                <th><a href="">Студент</a></th>
<!--                <th><a href="">Староста</a></th>-->
<!--                <th><a href="">№ билета</a></th>-->
                <th>Пн 3</th>
                <th>Вт 4</th>
                <th>Ср 5</th>
                <th>Чт 6</th>
                <th>Пт 7</th>
                <th>Сб 8</th>
                <th>Вс 9</th>
                <th>Пн 10</th>
                <th>Вт 11</th>
                <th>Ср 12</th>
                <th>Чт 13</th>
                <th>Пт 14</th>
                <th>Сб 15</th>
                <th>Вс 16</th>
                <th>Пн 17</th>
                <th>Вт 18</th>
                <th>Ср 19</th>
                <th>Чт 20</th>
                <th>Пт 21</th>
                <th>Сб 22</th>
                <th>Вс 23</th>
                <th>Пн 24</th>
                <th>Вт 25</th>
                <th>Ср 26</th>
                <th>Чт 27</th>
                <th>Пт 28</th>
                <th>Сб 29</th>
                <th>Вс 30</th>
              </tr>
            </thead>
            <tbody>
             

                {% for student in students %}
              <tr>
                <td>{{ forloop.counter }}</td> 

                <td><a href={% url 'students_edit' student.id %}>{{ student.last_name }} {{ student.first_name }}</td>
<!--                <td><a href={% url "students_edit" student.id %}>{{ student.first_name }}􏰓</td>    -->

                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                                          <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                                          <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                                          <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
                  <td><label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> </label>                   </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

{% endblock content %}