{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}
{% url 'students_add' as url1 %}
{% if request.path == url1 %} {% trans "Add Student" %}
{% else %}                    {% trans "Edit Student" %}
{% endif %}
{% endblock meta_title %}

{% block title %}
{% url 'students_add' as url1 %}
{% if request.path == url1 %} {% trans "Add Student" %}
{% else %} {% trans "Edit Student" %}
{% endif %}
{% endblock title %}


 {% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
 {% trans "Please, fix the following errors: " %}
 </div>
  {% endif %}
{% if messages %}
  <div class="alert alert-warning">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
  </div>
{% endif %}

{% endblock  %}


{% block content %}

{% crispy form %}

{% endblock content %}

