{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}
{% url 'students_add' as url1 %}
{% if request.path == url1 %} Додати студента
{% else %}                    Редагувати студента
{% endif %}
{% endblock meta_title %}

{% block title %}
{% url 'students_add' as url1 %}
{% if request.path == url1 %} Додати студента
{% else %} Редагувати студента
{% endif %}
{% endblock title %}


 {% block status_message %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
 Будь-ласка, виправте наступні помилки
 </div>
  {% endif %}
{% endblock  %}


{% block content %}

{% crispy form %}

{% endblock content %}

