<li role="presentation" {% if request.path == '/' %}class="active"{% endif %}><a href={% url "home" %}>Студенти</a></li>
<li role="presentation" {% ifequal request.path url1 %}class="active"{% endifequal %}>
                            <a href="{% url "home" %}">Студенти</a>
                            
                           
{% ifequal request.path url1 %}class="active"{% endifequal %}

<li role="presentation" {% ifequal request.path url1 %}class="active"{% endifequal %}><a href={% url "home" %}>Студенти</a></li>

<li role="presentation" {% if '/journal' in request.path %}class="active"{% endif %}><a href={% url "journal" %}>Відвідування</a></li>
              {% url 'groups' as url3 %}
              <li role="presentation" {% if '/groups' in request.path %}class="active"{% endif %}><a href={% url "groups" %}>Групи</a></li>
