/* Global Styles */
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
/* Global CSS */
.alert{
/*   Добавили расстояние только сверху элемента */
  margin-top: 10px;
}


#footer {
/* 􏰃􏰌􏰋􏰌є􏰈􏰀 􏰄􏰇􏰂􏰕􏰏ю 􏰈􏰇􏰘􏰊 􏰇􏰉􏰇􏰈􏰇􏰏􏰁􏰌: 􏰔􏰅􏰂􏰅􏰏􏰌нижняя линия перед футером, цвет нашли через фокс 􏰉і􏰏ії, 􏰁􏰅􏰗 􏰉і􏰏ії, 􏰒􏰀􏰉і􏰂
􏰉і􏰏ії */
border-top: 1px solid #dddddd;
/* 􏰃􏰌􏰋􏰌є􏰈􏰀 􏰄􏰏􏰊􏰁􏰂і􏰔􏰏ю 􏰄і􏰋􏰎􏰁􏰌􏰏ь 􏰇􏰉􏰇􏰈􏰇􏰏􏰁􏰌 􏰋􏰀 􏰄􏰇􏰂􏰕􏰏ь􏰀􏰍􏰀 􏰒􏰂􏰌ю */ 
  padding-top: 10px;
}

/* Groups Selector */

 #group-selector select {
   margin: 0;
   width: 85%;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   height: 30px;
   line-height: 30px;
   color: #555555;
}

#group-selector {
  margin-top: 30px;
}

#lang-flags {
  margin-top: 25px;
}

#img-lang{
  transform:scale(0.9);
/*  margin:0 !important; 
  padding: 0 !important;*/
/*  height: 70%;
  width:90%;*/
}

#img-lang:hover{
  transform:scale(1.3);
}

/*User Toolbar*/
#user-toolbar{
  margin-top: 10px;
  text-align: right;
}


/* Language Selector */
/*#languge-selector select{
   margin: 0;
   width: 65%;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   height: 30px;
   line-height: 30px;
   color: #555555;
}*/

/* Form Styles */
textarea,
select,
input{
    max-width: 380px;
}
/*#id_exam_day{
  max-width: 360px !important;
}*/
/*    border: 5px solid red !important;
    background-color:red ;
*/￼



/*Add bold to main menu tabs. Do not works.
#sub-header>.col-xs-12>.nav>.my-bold{

    font-weight: bold !important;
    color:red;
}
*/

/* Journal Table Styles */
td.day-box, 
th.day-header {
    padding: 6px !important; 
    /*padding: 1% !important; */
    vertical-align: middle !important; 
    text-align: center;
}

#ajax-progress-indicator,
#ajax-progress-warmes {
  display: none;
  text-align: center;
}
#ajaxBusy{
  display: none;
  paddingLeft:0px;
  paddingRight:0px;
  paddingTop:0px;
  paddingBottom:0px;
  position:absolute;
  right:50%;
  top:40%;
  /*float:center;*/
   width:auto;
}
/*  margin:"0px",
  z-index:10000,
  position:"absolute",
  // top:"130px",
  // left:"50%",
*/







