/* Global Styles */
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
/* Global CSS */
.alert{
/*   Добавили расстояние только сверху элемента */
  margin-top: 10px;
}


#footer {
/* 􏰃􏰌􏰋􏰌є􏰈􏰀 􏰄􏰇􏰂􏰕􏰏ю 􏰈􏰇􏰘􏰊 􏰇􏰉􏰇􏰈􏰇􏰏􏰁􏰌: 􏰔􏰅􏰂􏰅􏰏􏰌нижняя линия перед футером, цвет нашли через фокс 􏰉і􏰏ії, 􏰁􏰅􏰗 􏰉і􏰏ії, 􏰒􏰀􏰉і􏰂
􏰉і􏰏ії */
border-top: 1px solid #dddddd;
/* 􏰃􏰌􏰋􏰌є􏰈􏰀 􏰄􏰏􏰊􏰁􏰂і􏰔􏰏ю 􏰄і􏰋􏰎􏰁􏰌􏰏ь 􏰇􏰉􏰇􏰈􏰇􏰏􏰁􏰌 􏰋􏰀 􏰄􏰇􏰂􏰕􏰏ь􏰀􏰍􏰀 􏰒􏰂􏰌ю */ 
  padding-top: 10px;
}

/* Groups Selector */

 #group-selector select {
   margin: 0;
   width: 85%;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   height: 30px;
   line-height: 30px;
   color: #555555;
}

#group-selector { 
  margin-top: 30px;
}

/* Form Styles */
textarea,
select,
input{
    max-width: 380px;
}
/*    border: 5px solid red !important;
    background-color:red ;
*/￼



/*Add bold to main menu tabs. Do not works.
#sub-header>.col-xs-12>.nav>.my-bold{

    font-weight: bold !important;
    color:red;
}
*/

/* Journal Table Styles */
td.day-box, 
th.day-header {
    padding: 6px !important; 
    /*padding: 1% !important; */
    vertical-align: middle !important; 
    text-align: center;
}

#ajax-progress-indicator {
  display: none;
}









